
.vs/
*.suo
*.user
*.cache
*.csproj.user


bin/
obj/


packages/
project.lock.json
project.assets.json

node_modules/
wwwroot/lib/

*.log
logs/
temp/
*.tmp


appsettings.json
appsettings.Development.json
secrets.json
.env

docker-compose.override.yml
